
/* Generics */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix:after{                         
  display: table;
  content: "";
  clear: both;
}


/* Utility */

body{
  max-width: 1200px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}

header{
  position: relative;
  margin-top: 20px;
  height: 100px;
  background-color: rgb(240, 92, 136);
}

footer{
  margin-bottom: 20px;
  margin-top: 20px;
  height: 50px;
  background-color: rgb(175, 25, 130);
}

header img{
  max-width: 150px;
}

ul li{
  list-style-type: none;
  display: inline;
}

li a{
  text-decoration: none;
  color: black;
  font-weight: 300;
}

nav{
  position: absolute;
  bottom: 0;
}

/* .nav-button{
  display: inline;
  list-style-type: none;
} */

/* Main Section */

.box{
  width: calc(100% - 40px);
  margin: 40px auto;
}

.articles{
  background-color: blue;
}

.spotlight{
  background-color: goldenrod;
  height: 400px;
}

.innerbox{
  background-color: cadetblue;
  height: 350px;
  float: left;
  
}


/* Articles Section */

.full .headline{
  height: 100px;   
  width: 100%;
}

.side{
  width: calc(25% - 20px);
  margin: 20px 10px;
}

.central{
  width: calc(50% - 20px);
  margin: 20px 10px;
}

.row{
  margin: 0 -10px;
}
/* .lside{
  float: left;
  height: 350px;
  width: 200px;
  margin: 25px 25px;
  margin-left: 0;
  margin-bottom: 0;
}

.rside{
  float: right;
  height: 350px;
  width: 200px;
  margin: 25px 25px;
  margin-right: 0;
  margin-bottom: 0;
}

.central{
  float: left;
  height: 350px;
  width: calc(370px + 170px + 170px);
  margin: 25px auto;
  margin-bottom: 0;
} */